{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <header>
      <div class="cont-logo">
        <img
          class="logo"
          src="{% static 'img/django.png' %}"
          alt="Logo Django"
        />
        <h2 class="title">Mi Sitio Web</h2>
      </div>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/about/">Sobre Nosotros</a></li>
          <li><a href="/contact/">Contacto</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
      {% block content %}
      <!-- Aquí irá el contenido específico de cada página -->
      {% endblock %}
    </div>

    <footer>
      <p>Mi Sitio Web &copy; 2024</p>
    </footer>
  </body>
</html>
